<form class="form-container" [formGroup]="form">
    <div class="form-content">
        <mat-form-field>
            <mat-label class="form-origin">
                Origen
            </mat-label>
            <input type="text" matInput required formControlName="origin">
            <mat-error *ngIf="form.controls['origin'].invalid">{{getErrorMessageOrigin()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="form-destination">
                Destino
            </mat-label>
            <input type="text" matInput required formControlName="destination">
            <mat-error *ngIf="form.controls['destination'].invalid">{{getErrorMessageDestination()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="form-button" 
                [disabled]="!(form.controls['destination'].valid && form.controls['origin'].valid) || 
                ((form.controls['destination'].value.toUpperCase() == form.controls['origin'].value.toUpperCase()) 
                || (form.controls['origin'].value == form.controls['destination'].value))"
                (click)="submitForm()">Buscar Vuelos</button>
    </div>

    <div class="form-error animate__animated animate__bounce" 
         *ngIf="((form.controls['destination'].value.toUpperCase() == form.controls['origin'].value.toUpperCase()) 
                || (form.controls['origin'].value.toUpperCase() == form.controls['destination'].value.toUpperCase())) 
                && form.controls['destination'].value != ''">
        <div class="form-error-message">
            ¡No puedes ingresar valores iguales en ambas casillas! 
        </div>
    </div>
</form>