
.form-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.form-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-error{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.form-error-message{
    background-color: #f76b6b;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .form-content{
        flex-direction: column;
    }

}